<a href="/">home</a>
<div>
    <form action="/login" method="post">
        <label>username:</label>
        <input type="text" name="username"/>
        <label>password:</label>
        <input type="password" name="password"/>
        <button type="submit">Iniciar sesion</button>
    </form>
</div>