<a href="/">home</a>
<div>
    <form action="/signup" method="post">
        <label>name:</label>
        <input type="text" name="name"/>
        <label>username:</label>
        <input type="text" name="username"/>
        <label>password:</label>
        <input type="password" name="password"/>
        <button type="submit">Registrarse</button>
    </form>
</div>